* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 0 3%;
  background:#aaa;
  font:300 15px/24px "Open Sans", sans-serif;
  color:#fff;
  user-select:none;
  text-shadow:0 0 1px #aaa;
  width: 100%;
  height: 100%;
}

.Content {
  position:relative;
  padding:0 2%;
  margin:0;
  z-index: 30;
}

.red-foreground {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;
  z-index: 50;

  width: 100%;
  height: 100%;
  background:rgba(240, 76, 76, 0.75);
}

.green-foreground {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;
  z-index: 50;

  width: 100%;
  height: 100%;
  background: rgba(66, 142, 78, 0.75);
}

.won {
  position: absolute;
  color: #428e4e;
  text-shadow: 0 0 5px #11c92e;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 35%;
  z-index: 60;
  padding: 40px 40px;
  box-shadow:0 0 15px rgba(255, 255, 255, 0.6);
  background: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.7);
  font-size: 10vh;
}

.lost {
  position: absolute;
  color: #fff;
  text-shadow: 0 0 20px #ff0000;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 35%;
  z-index: 60;
  padding: 40px 40px;
  box-shadow:0 0 10px rgba(255, 255, 255, 0.4);
  background: #000;
  font-size: 10vh;
}

.new-game {
  position: absolute;
  color: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 75%;
  z-index: 60;
  padding: 40px 40px;
  box-shadow:0 0 20px rgba(0, 0, 0, 0.4);
  background: #20bbec;
  border-radius: 50px;
  font-size: 5vh;
}

.new-game:active {
  transform: translate(-50%, 3px);
  background: #066e8f;
  box-shadow:;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
}

h1 { font-size:4.5em; line-height:1.5; }

h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
}

.char-row {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 7px;
  max-width: 850px;
  line-height: 50px;
  margin-bottom: 20px;
}

.char {
  margin:0 15px 0 0;
  text-align:center;
  background:#fff;
  color:#000;
  font-weight: 600;
  font-size: 30px;
  border-radius:4px;
  align-items:center;
  align-content:center;
  height:57px;
  border:3px solid rgba(205, 25, 25, 0.7);
  box-shadow:0 0 10px rgba(255, 255, 255, 0.4);
}

button {
  font:600 15px/24px "Open Sans", sans-serif;
}

.key-row {
  display: flex;
  margin: 0 auto 7px;
  line-height:50px;
}

.key {
  margin:0 6px 0 0;
  text-align:center;
  background:#444;
  color:#eee;
  border-radius:4px;
  box-shadow:0 1px 0 #222, inset 0 1px 3px rgba(255,255,255,0.1);
  transition:0.1s;
  align-items:center;
  align-content:center;
  height:57px;
  border:2px solid rgba(0,0,0,0.08);
  cursor:pointer;
}

.key:active { transform:translateY(1px); background:#333; box-shadow:0 1px 0 #000;}

.key:disabled {
  background:#aaa;
  color: black;
  pointer-events: none;
}

.one { flex:1; }

.key-row .key:last-child { margin:0; }

.mid {
  margin-left: 50px;
  margin-right: 50px;
}

.end {
  margin-left: 120px;
  margin-right: 120px;
}

.wrong-letter-container {
  display: inline-block;
  justify-content: center;
  align-content: center;
  background: #444;
  height: 365px;
  width: 150px;
  margin: 20px 15px;
  border-radius: 20px;
}

.wrong-letter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  padding-top: 5px;
  font-weight: 400;

}

.character-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hangman-container {
  display: inline-block;
  justify-content: center;
  align-content: center;
  background: #fff;
  height: 365px;
  width: 400px;
  margin: 20px 15px;
  border-radius: 20px;
}

.gallow {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  top: 0;
  width: 15px;
  height: 65px;
  border-radius: 5px;
  background-color: #5b310e;
}

.body-part {
  color: #000;
  font-weight: 600;
}

.head {
  position: relative;
  z-index: 3;
  margin: 0 auto;
  top: -20px;
  width: 70px;
  height: 80px;
  background-color: #FFCD82;
  border-radius: 100px;
}

.neck {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  top: -45px;
  right: 0;
  width: 20px;
  height: 40px;
  background-color: #f4bc6a;
}

.corpus {
  position: relative;
  z-index: 5;
  margin: 0 auto;
  top: -50px;
  width: 60px;
  height: 95px;
  border-radius: 5px;
  background-color: #12A56B;
}

.left-arm {
  position: relative;
  z-index: 2;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0 auto;
  width: 22px;
  height: 80px;
  left: -41px;
  top: -150px;
  background-color: #71CC54;
  border-radius: 5px;
}

.left-hand {
  position: relative;
  z-index: 1;
  border-radius: 0 0 50% 50%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -165px;
  left: -75px;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  background-color: #f4bc6a;
}

.right-arm {
  position: relative;
  z-index: 2;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: 0 auto;
  left: 47px;
  top: -242px;
  width: 22px;
  height: 80px;
  background-color: #12A56B;
  border-radius: 5px;
}

.right-hand {
  position: relative;
  z-index: 1;
  border-radius: 0 0 50% 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -260px;
  left: 77px;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  background-color: #f4bc6a;
}

.left-leg {
  position: relative;
  margin: 0 auto;
  background-color: #3C3F64;
  z-index: 2;
  top: -250px;
  left: -20px;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  height: 70px;
  width: 25px;
}

.right-leg {
  position: relative;
  margin: 0 auto;
  background-color: #3C3F64;
  z-index: 2;
  top: -320px;
  left: 21px;
  z-index: 3;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  height: 70px;
  width: 25px;
}

.eyes {
  position: relative;
  margin: 0 auto;
  background-color: #000;
  background-repeat: space;
  z-index: 5;
  top: -478px;
  left: 2px;
  height: 15px;
  width: 12px;
  border-radius: 10px;
}

.wrong-answers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: #f5f5f5 underline;
  color: #f5f5f5;
  padding-top: 10px;
}
